# Ignore python local caching files
__pycache__
**.idea
# Ignore notebook checkpoints
**.ipynb_checkpoints
#**.ipynb
# Vim files and python caches
*~
*.swp
*.pyc

*.zip

invoices/
literature/
data/
manuscript/
*.pth
*.npz
